* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: currentColor;
    text-decoration: none;
}

.title {
    text-align: center;
    padding: 50px;
    font-size: 30px;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .card {
            padding-bottom: 20px;
        }
    }
}


    